body {
	min-height:600px;
	background:#fff;
	color:#fff;
	width:800px;
	margin: 100px auto;
	float:none;
	padding: 20px;
	font-family:Helvetica;
	line-height:12px;
	font-weight:lighter;

}

h1 {
	text-align:center;
}

.buttons {
	text-align:center;
}


canvas {
	margin:20px auto 0px auto;
	float:none;
	border:none;
	border-radius:0px;
}

